* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-family: "Times New Roman", Times, serif;
}

body {
  min-height: 100vh;
  background: #2b2b2b;
  transition: 0.5s;
}
.icons {
  width: 22%;
}
.icons2{
  width: 70px;
}

header {
  background: rgb(0,0,0);
  background: linear-gradient(11deg, rgba(238, 231, 231, 0.048) 44%, rgba(245,149,0,1) 66%);
  color: #000;
  font-size: 100%;
  padding: 1.5rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#toggle {
  position: relative;
  display: block;
  width: 100px;
  height: 50px;
  border-radius: 160px;
  background: #222;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}
#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
#toggle.active .indicator {
  left: 50px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: inset 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
}
body.active {
  background: #f8f8f8;
}
#toggle.active {
  background: #fff;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

#results,
#calculator {
  margin: 2rem auto;
  width: 40rem;
  max-width: 90%;
  border: 1px solid #fe9500;
  border-radius: 10px;
  padding: 2.5rem;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#results {
  text-align: center;
}

#calculator input {
  font-size: 2rem;
  font-weight: lighter;
  border: 1px solid #fe9500;
  background: #d4d4d2;
  border-radius: 10px;
  width: 17rem;
  height:4rem ;
  font-family: inherit;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: #000;
  text-align: center;
}

#calculator input:focus {
  outline: none;
}

#calculator button:focus {
  outline: none;
}

#calculator button:hover,
#calculator button:active {
  background: linear-gradient(
    135deg,
    rgb(246, 244, 244,1) 70%,
    rgba(254, 149, 0, 0.9) 30%
  );
}

#calc-actions button {
  width: 4rem;
}

#calc-actions {
  margin-top: 1rem;
  text-align: center;
}
.resulText {
  color: 
  #c3780d;
  font-family: inherit;
}
#calculator button
{
  border: rgba(254, 149, 0, 1) solid 1px;
  border-radius: 35%;
  width: 50px;
  margin: 2px;
  font-weight: bolder;
  font-size: x-large;
  font-family: inherit;
  background: #d4d4d2;
  color: #000;
  padding: 0.2rem;
  cursor: pointer;
}

/* footer  */
.footer {
  color: white;
  background-color: #9e947e;
  text-align: center;
  font-family: inherit;
  width: 100%;
  opacity: 1.5;
  margin-bottom: 2px;
  position: absolute;
  bottom: 0;
}

/* Conventional Calculator */

.mainContainer{
  width: 280px;
  margin-top: 10%;
  border: #000 3px solid;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.num
{
  border: #000 3px solid;
  border-radius: 50px;
  padding: 7px 10px;
  width: 100%;
  height: 95px;
  border-radius: 5px;
  margin: 4px 0;
  justify-content: center;
  font-weight: bolder;
  font-size: x-large;
  font-family: inherit;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.row{
  display: flex;
  font-family: inherit;
  justify-content: center;
  border: #000 3px solid;
  margin: 4px 0;
  border-radius: 10px;
}
.row button{
  display: flex;
  width: 55px;
  padding: 5px 10px;
  justify-content: center;
  font-weight: bolder;
  font-size: x-large;
  font-family: inherit;
  margin: 3px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.btnSide{
  background-color: #615f5f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.row button:hover,
.row button:active {
  background: linear-gradient(
    135deg,
    rgb(246, 244, 244,1) 70%,
    rgba(254, 149, 0, 0.9) 30%
   
  );
}
